* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    all: unset;
}

button {
    all: unset;
    cursor: pointer;
    background-color: #1b105c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    box-shadow: 0px 4px 4px rgba(36, 18, 147, 0.4);
}

/* GLOBAL ELEMENTS */
.main-container {
    display: grid;
    grid-template-columns: 90px 1fr;
}

.main-container-left-col {
    height: 100%;
    border: 1px solid red;
    background-color: hotpink;
}

.add-button-big {
    border: 1px solid black;
    border-radius: 50%;
}

.add-button-small {
    width: 50px;
    height: 50px;
    font-size: 48px;
    font-weight: 600;
    border-radius: 50%;
}

.add-new-task-button {
    align-self: center;
}

.modal {
    z-index: 10;
    padding: 24px 0px;
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.close-modal-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 2.5em;
    height: 2.5em;
    font-weight: 900;
    font-size: 24px;
    border-radius: 50%;
}

.overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* HEADER */
/* ------ */
header {
    height: 90px;
    background-color: orange;
    border-bottom: 1px solid blue;
}

/* PROJECT NAVIGATION */
.project-navigation-col {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-link-icon {
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    margin-bottom: 12px;
}

/* KANBAN BOARD */
/* --------------------*/

.board-overview {
    display: flex;
    justify-content: space-between;
}

.kanban-board {
    width: 30%;
    padding: 12px 6px 12px 6px;
}

.board-to-do {
    background-color: rgb(247, 179, 123);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.board-in-progress {
    background-color: rgb(210, 236, 198);
}

.board-done {
    background-color: rgb(72, 245, 3);
}

/* TASK VIEW SMALL */
/* --------------- */
.task-view-small {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 8px;
    /* opacity: 1; */
    /* background-color: #fff; */
}

.task-view-sm-title {
    border: 1px solid red;
}

/* TASK VIEW BIG */
/* ------------- */
.task-view-big-container {
    width: 100%;
    border: 1px solid blue;
    padding: 12px 10px 24px 10px;
}

.task-view-big-title {
    font-weight: 800;
    font-size: 36px;
}
