@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    background-color: #000022;
    font-family: Poppins, sans-serif;
    color: #ffffff;
    overflow-y: scroll;
}

a {
    all: unset;
}

button {
    all: unset;
    cursor: pointer;
    background-color: #1b105c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    box-shadow: 0px 4px 4px rgba(231, 231, 235, 0.4);
}

textarea {
    resize: none;
    border: none;
    border-radius: 8px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 4px 5px 4px 5px;
    background-color: #fff;
}

textarea:focus {
    outline: 1px solid #241293;
}

input {
    all: unset;
    color: #1b105c;
}

input:focus {
    outline: 1px solid #241293;
}

form {
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    background-color: #fff;
    width: 96%;
    border-radius: 8px;
    font-size: 1.3em;
    height: 2em;
    margin: 14px 24px 24px 24px;
    padding: 5px 10px;
    align-self: center;
}

form input:focus {
    outline: 1px solid #241293;
}

.button-cta {
    width: 330px;
    height: 50px;
    margin: 20px 0px 20px 0px;
    background-color: #1b105c;
    color: white;
    box-shadow: 0px 2px 4px rgba(36, 18, 147, 0.2);
    border-radius: 8px;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.08em;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background-color: red;
}

/* GLOBAL ELEMENTS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    grid-template-rows: 120px auto 70px;
    grid-template-areas:
        ". header-logo header-logo header-logo . . . . . header-nav header-nav header-nav"
        "side-nav main main main main main main main main main main main"
        ". footer-left footer-left footer-left . . . . . footer-right footer-right footer-right";
}

.modal {
    z-index: 10;
    padding: 24px 0px;
    width: 60%;
    background-color: rgb(221, 217, 217);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: black;
}

.close-modal-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 2.5em;
    height: 2.5em;
    font-weight: 900;
    font-size: 24px;
    border-radius: 50%;
}

.overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-modal {
    padding: 24px;
}

.text-modal * {
    padding: 6px 0px 6px 0px;
}

.text-modal p {
    font-size: 20px;
    line-height: 1.3;
}

.text-modal div {
    font-size: 20px;
    line-height: 1.3;
}

/* HEADER */
/* ------ */
.header-logo {
    grid-area: header-logo;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 60px;
    height: auto;
}

.header-logo h1 {
    margin-left: 0.75em;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.header-nav {
    grid-area: header-nav;
    padding: 12px 24px 12px 0px;
    display: flex;
    align-items: center;
}

.header-link {
    cursor: pointer;
}

.header-link:last-child {
    margin-left: 5em;
}

.header-link img {
    width: auto;
    height: 50px;
}

/* FOOTER */

.footer-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

.footer-col-left {
    grid-area: footer-left;
}

.footer-col-right {
    grid-area: footer-right;
}

.footer-link {
    cursor: pointer;
    padding: 0px 6px 0px 6px;
}

.footer-link:hover {
    color: rgb(170, 166, 166);
}

.footer-link img {
    width: 1.2rem;
    height: auto;
    margin-right: 0.8rem;
}

.footer-link:last-child {
    margin-left: 50px;
}

/* SIDE NAVIGATION */
.side-nav {
    grid-area: side-nav;
    padding: 0 12px 0 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-link-icon-container {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: none;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-link-active {
    background-color: #f55a00;
}

.project-link-icon {
    width: 75px;
    height: 75px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78a1bb;
    color: white;
    font-weight: 800;
    text-align: center;
}

.project-link-icon:hover {
    box-shadow: 0 0 13px rgb(170, 166, 166);
}

.project-link-icon img {
    width: 45px;
    height: 45px;
}

/* PROJECT VIEW */
/*--------------*/
.project-container {
    grid-area: main;
    margin: 0px 20px 20px 0px;
}

.project-view-header {
    display: flex;
}

.project-view-header-title {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.08em;
}

.project-view-header-nav {
    display: flex;
    margin-left: 7em;
}

.project-view-nav-link {
    margin: 0px 15px 0px 15px;
}

.project-view-nav-link img {
    width: 45px;
    height: auto;
    cursor: pointer;
}

.project-view-description {
    margin-top: 2em;
    font-size: 1.3em;
    max-width: 50vw;
    white-space: pre-line;
}

.new-project-choice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* KANBAN BOARD */
/* --------------------*/

.board-overview {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.kanban-board {
    width: 30%;
    padding: 12px 6px 12px 6px;
}

.board-to-do {
    background-color: #c44900;
    display: flex;
    flex-direction: column;
}

.board-in-progress {
    background-color: #efd68c;
}

.board-done {
    background-color: #04f06a;
}

.new-task-button {
    margin-top: 16px;
    width: 60px;
    height: 60px;
    align-self: center;
}

.new-task-button img {
    width: 50px;
    height: auto;
}

/* TASK VIEW SMALL */
/* --------------- */
.task-view-small {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 12px 20px 12px 20px;
    margin-bottom: 8px;
    color: black;
}

.task-view-small-foreign {
    cursor: pointer;
    background-color: lightgrey;
}

.task-view-sm-title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.task-view-sm-item {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.task-view-sm-item img {
    width: 25px;
    height: auto;
    margin-right: 1.7em;
}

/* TASK VIEW BIG */
/* ------------- */
.task-view-big-container {
    width: 95%;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1.3rem;
    margin: 24px 16px 24px 16px;
    padding: 12px 10px 24px 10px;
}

.task-view-big-title {
    font-weight: 800;
    font-size: 2.5rem;
}

.task-view-big-sub-heading {
    font-weight: 800;
    font-size: 1.5rem;
    color: #1b105c;
    margin: 6px 0px 6px 0px;
}

.task-view-big-description {
    white-space: pre-line;
}

.task-view-big-buttons {
    display: flex;
    justify-content: space-evenly;
}

.task-view-big-buttons button {
    font-weight: 800;
    font-size: 1.3rem;
    margin: 0px 10px 0px 10px;
    padding: 6px;
    border-radius: 7px;
}

/* PROJECT MEMBERS VIEW */
.members-view-members-table {
    padding: 12px;
}

.members-view-members-table-entry {
    border-bottom: 1px solid black;
    margin-bottom: 6px;
}

.members-table-member-name {
    font-size: 1.4rem;
    font-weight: 800;
}

.invite-codes-table {
    padding: 12px 12px 12px 24px;
}

.invite-codes-table-entry {
    display: flex;
}

.invite-codes-code {
    padding-right: 20px;
    border-bottom: 1px solid black;
}

.invite-codes-expires {
    padding-left: 20px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.invite-codes-table-header {
    font-size: 1.5rem;
    font-weight: 800;
    color: #1b105c;
    margin-bottom: 10px;
}

/* ARCHIVE VIEW */
.archive-view-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
