* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

/* KANBAN BOARD */
/* --------------------*/

.board-overview {
    display: flex;
    justify-content: space-between;
}

.kanban-board {
    width: 30%;
    padding: 12px 6px 12px 6px;
}

.board-to-do {
    background-color: rgb(247, 179, 123);
}

.board-in-progress {
    background-color: rgb(210, 236, 198);
}

.board-done {
    background-color: rgb(72, 245, 3);
}

/* TASK VIEW SMALL STYLES */
/* ---------------------- */
.task-view-small {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 8px;
}

.task-view-small:last-child {
    padding-bottom: 0px;
}

.task-view-sm-title {
    border: 1px solid red;
}
